.container-navbar {
  padding: 0 5%;
}

.navbar-nav {
  font-size: 13px;
  font-weight: 450;
}

.navbar-nav .nav-link {
  margin: 2.5px;
}

.navbar-brand img {
  margin-top: 2px;
  max-width: 110px;
  padding-bottom: 0.35rem;
}
.nav-link {
  position: relative;
}
.nav-link::after {
  content: '';
  opacity: 0;
  transition: all 0.2s;
  height: 2px;
  width: 100%;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover::after {
  opacity: 1;
}
.nav-item .nav-link {
  padding-bottom: 1px;
  padding-top: 1px;
}
.navbar-brand {
  padding-top: 0;
}
.carousel-inner img {
  width: 100%;
  height: 475px;
}
.carousel-item {
  position: relative;
}
.carousel-caption {
  position: absolute;
  top: 25%;
  left: 10% !important;
  color: black;
  width: 30%;
  height: 50%;
}
.carousel-caption h3 {
  font-size: 37px;
  text-align: left;
  margin: 0 0 20px;
}
.carousel-caption h2 {
  font-size: 16px;
  background-color: #fff;
  color: rgb(126, 0, 0);
  margin-bottom: 10px;
  padding: 6px 12px;
  width: fit-content;
  text-align: left;
}
.carousel-caption p {
  font-size: 16px;
  text-align: left;
  margin: 0 0 24px;
}
.carousel-caption button {
  font-size: 16px;
  color: #fff;
  background-color: #000;
  margin: 8px 0;
  padding: 10px 12px;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  position: absolute;
  left: 0;
}
.carousel .carousel-indicators li {
  width: 10px;
  border-radius: 100%;
  background: #000;
  border-bottom-width: 4px;
  border-top-width: 4px;
  margin-right: 10px;
}
.cards-1 {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0 5%;
}
.cards-1 .card {
  margin: 16px 0 16px 0;
  border: none !important;
}
.cards-1 .card img {
  align-self: center;
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
}
.card-body-cards-1 {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
.cards-1 .row {
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  padding: 0 5%;
  margin-bottom: 3rem;
}
.card {
  border: none !important;
}
.card img {
  margin-bottom: 16px;
}

.card-body {
  padding: 0 !important;
}

.card-body h4 {
  font-size: 1.8125rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.card-body p {
  font-size: 1rem;
  font-weight: 400;
}

.hero {
  padding: 0 5%;
  margin: 3rem 0 3rem 0;
  padding-top: 3rem;
}
.ms-style {
  width: 100%;
  height: 515px;
  background-image: url('./gldn-MSFT-hero-Edge_VP5-1596x600.avif');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* background-attachment: fixed; */
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.ms-edge {
  position: absolute;
  /* top: 25%; */
  left: 10% !important;
  color: black;
  width: 30%;
  height: fit-content;
  padding: 3rem;

  background-color: #fff;
}
.ms-edge h3 {
  font-size: 2.3125rem;
  margin-bottom: 1.25rem;
}
.ms-edge p {
  font-size: 1rem;
  margin-bottom: 1.25rem;
}
.ms-edge button {
  font-size: 16px;
  color: #fff;
  background-color: #000;
  margin: 8px 0;
  padding: 10px 12px;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  /* position: absolute; */
  left: 0;
}
.cards-2 h3 {
  padding: 0 5%;
  padding-top: 3rem;
  font-size: 2.3125rem;
  margin-bottom: 1.25rem;
}
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 1;
  font-weight: 600;
  text-decoration: none;
  padding: 0.625rem 0.75rem;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  background: aliceblue;
  border: 1px #000 solid;
  color: #000;
}
.socials {
  padding: 0 5%;
  margin-bottom: 2rem;
}

.connect span {
  font-size: 1.1rem;
  margin-right: 1rem;
}
.icons i {
  padding: 0 0.5rem;
}
footer {
  background-color: rgba(228, 228, 228, 0.609);
  width: 100%;
  padding-top: 1.5rem;
}
footer h5 {
  color: #616161;
  word-break: break-word;
  font-size: 15px;
  line-height: 20px;
}
footer a {
  text-decoration: none;
  font-size: 11px;
  color: #616161;
}
footer .grid {
  right: 15px;
}
